/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Color gris claro */
    color: #333;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffc107; /* Color ODS 12 */
    padding: 10px 20px;
}

.navbar .logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #0056b3; /* Azul para énfasis */
}

/* Introduction Section */
.intro {
    text-align: justify;
    padding: 50px 20px;
    background-color: #ffffff; /* Blanco puro */
}



h1 {
    color: #ffc107; /* Color ODS 12 */
    font-size: 2.5em;
    text-align: center;
}

p {
    font-size: 1.2em;
    margin: 20px;
    line-height: 1.5;
    text-align: justify;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ffc107; /* Resalta con ODS 12 */
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #343a40; /* Gris oscuro */
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.footer-content p 
{ 
    text-align: center;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 5px 0;
}

.social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0;
}

.social-links li {
    margin: 0 10px;
}

.social-links a {
    color: #ffc107; /* ODS 12 */
    text-decoration: none;
    font-size: 1.2em;
}

.social-links a:hover {
    color: #0056b3; /* Azul para énfasis */
}